body {
    height: 100vh; display: flex; flex-flow: column; justify-content: center;
    align-items: center; background-color: pink;
}

#gameContainer {
    display: none;
}

#scoreBoard{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

}

#choiceDisplay {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
a {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.yes {
    background-color: green;
}
a.no {
    background-color: red;
}

a:hover {
    background-color: lightslategrey;
    cursor: pointer;
}

.score {
    margin: 2vw;
    font-weight: bolder;
}

.space {
    width: 10vw;
}